@model IEnumerable<AppQuinto.Models.Cliente>

@{
    ViewData["Title"] = "Lista Clientes";
}

<h1>Lista dos Clientes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                    @Html.ActionLink("Atualizar", "AtualizarCliente", new { id = item.IdCli }) |
                    @Html.ActionLink("Detalhes", "DetalhesCliente", new { id = item.IdCli }) |
                    @Html.ActionLink("Excluir", "ExcluirCliente", new {  id=item.IdCli  })
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="CadastrarCliente" class="btn btn-primary">Cadastrar Cliente</a>
</p>